*{
    margin: 0;
}

.hidden{
    display: none;
}
.flex{
    display: flex;
}

.menu_section{
    min-height: 100vh;
    width: 100%;
    background-color: #ffe0b2;
    justify-content: center;
    align-items: center;
}

.menu_content{
    background-color: #ffc107;
    border-radius: 4rem;
    border: 2px solid black;
    padding: 0rem 1rem; 
    position: relative;
}

.game_menu_image{
    max-width: 64rem;
    position: relative;
}

.menu_btn{
    padding: 1.5rem 2rem;
    position: absolute;
    top: 55%;
    right: 40%;
    font-size: 2rem;
    font-family: broadway;
    border: 1px solid black;
    background-color: #ffc107;
    cursor: pointer;

}
.back_btn{
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-family: broadway;
    border: 1px solid black;
    background-color: #ffc107;
    cursor: pointer;
}
.game_section_btn{
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-family: broadway;
    border: 1px solid black;
    background-color: #ffc107;
    cursor: pointer;
}

.menu_btn:hover {
    background-color: #ffe0b2;
    color: #795548;
  }

  .character_selection_section{
    min-height: 100vh;
    width: 100%;
    background-color: #ffc107;
    font-family: broadway;
    text-align: center;
    padding-top: 1rem;
  }
.character_selection{
    margin-top: 5%;
}
  .characters{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .character_item{
    border: 2px solid gray;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    cursor: pointer;
  }

  .character_item.disabled{
    cursor: not-allowed;
    filter: grayscale();
    opacity: 40%;
    pointer-events: none;
  }
  .character_item.selected{
    border: 5px solid black;
    border-radius: 50%;
  }

  .game_section_section{
    background-color: #ffc107;
    min-height: 100vh;
    width: 100%;
  }

  .avatar_section{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  .player_name{
    border: 4px solid black;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
  }

  .game_board{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
  }
  .cell{
    width: 6.25rem;
    height: 6.25rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3){
    border-top: none;
  }
  .cell:first-child,
  .cell:nth-child(4),
  .cell:nth-child(7){
    border-left: none;
  }
  .cell:nth-child(7),
  .cell:nth-child(8),
  .cell:nth-child(9){
    border-bottom: none;
  }
  
  .cell:nth-child(3),
  .cell:nth-child(6),
  .cell:nth-child(9){
    border-right: none;
  }
  .cell.x,
  .cell.circle{
    cursor: not-allowed;
  }

  .cell.x::before,
  .cell.x::after,
  .cell.circle::before,
  .cell.circle::after{
    background-color: black;
  }
 
  .game_board.x .cell:not(.x):not(.circle):hover::before,
  .game_board.x .cell:not(.x):not(.circle):hover::after,
  .game_board.circle .cell:not(.x):not(.circle):hover::before,
  .game_board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: lightgray;
  }
 

  .cell.x::before,
  .cell.x::after,
  .game_board.x .cell:not(.x):not(.circle):hover::before,
  .game_board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    width: 0.925rem;
    height: 5.625rem;
    position: absolute;
  }

  .cell.circle::before,
  .cell.circle::after,
  .game_board.circle .cell:not(.x):not(.circle):hover::before,
  .game_board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

.cell.circle::before,
.game_board.circle .cell:not(.x):not(.circle):hover::before{
  width: 5.625rem;
  height: 5.625rem;
}
.cell.circle::after,
.game_board.circle .cell:not(.x):not(.circle):hover::after{
  width: 4.375rem;
  height: 4.375rem;
  background-color: #ffc107;
}


  .cell.x::before,
  .game_board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
  }
  .cell.x::after,
  .game_board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
  }

  .text_normal{
    font-size: 3rem;
    font-family: broadway;
  }
  
  .text_medium{
    font-size: 2rem;
    font-family: broadway;
  }
  
  .text_large{
    font-size: 4rem;
    font-family: broadway;
  }
.character_name{
    height: 2rem;
}

/* CSS for the popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #ffe0b2;
  padding: 5rem;
  border-radius: 1rem;
  text-align: center;
  font-family: broadway;
}

.restart_btn{
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  font-family: broadway;
}
.restart_btn:hover{
  background-color: black;
  color: white;
}